.rating_circle {
  width: 100px;
  height: 100px;
  border-radius: 70px;
  border: 1px none;
  font-size: 35px;
}
.rating_text {
  margin-top: 38px;
}
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 20px;
  letter-spacing: 5px;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #000000;
}
.dark {
  background-color: #000000;
}

.rating-btn {
  padding: 18px 12px;
  border-radius: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
